
:root {
    --font-default: Open Sans, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
  :root {
    --color-default: #364d59;
    --color-primary: #04f811;
    --color-secondary: #364d59;
  }
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
  section {
    padding: 80px 0;
    overflow: hidden;
  }
  .section-bg {
    background-color: #f5f6f7;
  }
  .section-header {
    text-align: center;
    padding-bottom: 70px;
  }
  .section-header h2:before,
  .section-header h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--color-primary);
    display: inline-block;
  }
  .section-header h2:before {
    margin: 0 15px 10px 0;
  }
  .section-header h2:after {
    margin: 0 0 10px 15px;
  }
  .section-header p {
    margin: 0 auto 0 auto;
  }


  .header {
    z-index: 997;
    position: absolute;
    padding: 30px 0;
    top: 0;
    left: 0;
    right: 0;
  } 
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  .header .logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
    font-family: var(--font-primary);
  } 
  .header .logo h1 span {
    color: var(--color-primary);
  }


  @media (min-width: 1280px) {
  
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
    
    .navbar>ul>li {
      white-space: nowrap;
      padding: 10px 0 10px 28px;
    }
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3px;
      font-family: var(--font-primary);
      font-size: 14px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      white-space: nowrap;
      transition: 0.3s;
      position: relative;
    }
    .navbar>ul>li>a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: var(--color-primary);
      visibility: hidden;
      width: 0px;
      transition: all 0.3s ease-in-out 0s;
    }
    .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
      visibility: visible;
      width: 100%;
    }
  }
  @media (max-width: 1279px) {
    .navbar {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      max-width: 400px;
      bottom: 0;
      transition: 0.3s;
      z-index: 9997;
      line-height: 80px;
    }
  }


  .get .content h3 {
    font-size: 36px;
    color: var(--color-secondary);
    font-weight: 600;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
  }
  .get .content h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 4px;
    background: var(--color-primary);
    left: 0;
    bottom: 0;
  }
  .get-started .php-email-form {
    background: #fff;
    padding: 30px;
    height: 100%;
  }
  .get-started .php-email-form p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .get-started .php-email-form input:focus,
  .get-started .php-email-form textarea:focus {
    border-color: var(--color-primary);
  }
  .get-started .php-email-form input {
    padding: 12px 15px;
  }
  .get-started .php-email-form button[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  .get-started .php-email-form button[type=submit]:hover {
    background: rgba(20, 243, 0, 0.8);
  }
  

  .constructions .card-item {
    border: 1px solid rgba(82, 86, 94, 0.2);
    background: #fff;
    position: relative;
    border-radius: 0;
  }
  .constructions .card-item .card-bg {
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .constructions .card-item .card-body {
    padding: 30px;
  }


  .services .service-item {
    padding: 40px;
    background: #fff;
    height: 100%;
  }
  .services .service-item h3 {
    color: var(--color-default);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #ebebed;
    transition: 0.3s;
  }
  .services .service-item:hover h3 {
    border-color: var(--color-primary);
  }
  

  .features .nav-tabs {
    border: 0;
  } 
  .features .nav-link {
    padding: 15px 0;
    transition: 0.3s;
    color: var(--color-secondary);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 4px solid #e2e4e6;
  }
  .features .nav-link:hover {
    color: var(--color-primary);
  }
  .features .nav-link.active {
    color: var(--color-primary);
    background-color: transparent;
    border-color: var(--color-primary);
  }
  .features .tab-content {
    margin-top: 30px;
  }
  .features .tab-pane ul {
    list-style: none;
    padding: 0;
  }
  .features .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--color-primary);
  }
  

.projects .portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.projects .portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
  line-height: 1;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.projects .portfolio-flters li:hover,
.projects .portfolio-flters li.filter-active {
  color: var(--color-primary);
}
.projects .portfolio-content img {
  transition: 0.3s;
}
.projects .portfolio-content:hover img {
  transform: scale(1.1);
}
 

  .alt-services .img-bg {
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}
.alt-services h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.alt-services h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}
.alt-services .icon-box {
  margin-top: 50px;
}
.alt-services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.alt-services .icon-box h4 a {
  color: #000;
  transition: 0.3s;
}
.alt-services .icon-box h4 a:hover {
  color: var(--color-primary);
}
.alt-services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
  
 
  .hero {
    overflow-x: hidden;
    padding: 0;
  }  
  .hero .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    margin: 0;
    position: relative;
  } 
  .hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    transition-duration: 0.4s;
  }
  .hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;
  }
  .hero .info {
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  .hero .info h2 {
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 56px;
    font-weight: 700;
    position: relative;
  }
  .hero .info h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .hero .info p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
  }
  .hero .info .btn-get-started {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    border: 2px solid var(--color-primary);
  }
  .hero .info .btn-get-started:hover {
    background: var(--color-primary);
  }


  .footer {
    color: #fff;
    background: url("img/carousel-3.jpg") top center no-repeat;
    background-size: cover;
    font-size: 14px;
    padding: 80px 0 60px 0;
    position: relative;
  }
  .footer:before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 0;
  }
  .footer .footer-content .social-links a:hover {
    background: var(--color-primary);
    text-decoration: none;
  }
  .footer .footer-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  .footer .footer-content .footer-links {
    margin-bottom: 30px;
  }
  .footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer .footer-content .footer-links ul li {
    padding: 8px 0;
  }
  .footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
  }
  .footer .footer-content .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  .footer .footer-content .footer-links ul a:hover {
    color: #fff;
  }
  .footer-legal {
    font-size: 20px;
  }

 
 
